<!DOCTYPE html>
<html lang="en" ng-app="kepler">
    <head>
        <title>kepler.js</title>
        <link rel="stylesheet" href="{{ static_url('css/app.css') }}" type="text/css" />
        <script src="{{ static_url('lib/jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{ static_url('lib/angular.min.js') }}" type="text/javascript"></script>
        <script src="{{ static_url('lib/d3.min.js') }}" type="text/javascript"></script>
        <script src="{{ static_url('lib/topojson.js') }}" type="text/javascript"></script>
        <script src="{{ static_url('js/app.js') }}" type="text/javascript"></script>
        <script src="{{ static_url('js/services.js') }}" type="text/javascript"></script>
        <script src="{{ static_url('js/controllers.js') }}" type="text/javascript"></script>
        <script src="{{ static_url('js/filters.js') }}" type="text/javascript"></script>
        <script src="{{ static_url('js/directives.js') }}" type="text/javascript"></script>
    </head>
    <body>
        <universe>
            <planet earth>
                <ground>
                    <background sea="rgba(164,186,199,1.0)" 
                                land="rgba(215,199,173,1.0)" 
                                countries="rgba(0,0,0,1.0)" 
                                graticule="rgba(0,0,0,1.0)"
                                ></background>
                    <foreground foot-print ground-track>
	                    <asset name="Aqua" color="#077"></asset>
	                    <asset name="Aura" color="#f70"></asset>
                        <asset name="Terra" color="#070"></asset>
                    </foreground>
                </ground>
                <space trail-path sub-point>
	                <asset name="Aqua"></asset>
	                <asset name="Aura"></asset>
	                <asset name="Terra"></asset>
                </space>
            </planet>
        </universe>
    </body>
</html>