<!doctype html>
<html lang="en" ng-app="kepler">
    <head>
        <meta charset="utf-8">
        <title>kepler.js</title>
        <link rel="stylesheet" href="css/app.css"/>
        <script src="lib/angular/angular.js"></script>
        <script src="lib/d3/d3.js"></script>
        <script src="lib/d3/topojson.js"></script>
        <script src="lib/three/three.js"></script>
        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>
    </head>
    <body>
        <div universe>
            <canvas earth style="display:none;">
                <canvas sun style="display:none;">
                <canvas sea style="display:none;"></canvas>
                <canvas land style="display:none;"></canvas>
                <canvas countries style="display:none;"></canvas>
                <canvas graticule style="display:none;"></canvas>
                <canvas foot-print style="display:none;"></canvas>
                <canvas ground-track style="display:none;"></canvas>
            </canvas>
        </div>
    </body>
</html>
