<!doctype html>
<html lang="en" ng-app="kepler">
    <head>
        <meta charset="utf-8">
        <title>kepler.js</title>
        <link rel="stylesheet" href="css/app.css"/>
        <script src="lib/angular/angular.js"></script>
        <script src="lib/d3/d3.js"></script>
        <script src="lib/d3/topojson.js"></script>
        <script src="lib/three/three.js"></script>
        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>
    </head>
    <body>
        <canvas universe>
            <canvas earth>
                <canvas background>
                    <canvas sea></canvas>
                    <canvas land></canvas>
                    <canvas countries></canvas>
                    <canvas graticule></canvas>
                </canvas>
                <canvas foreground>
                    <canvas foot-print></canvas>
                    <canvas ground-track></canvas>
                </canvas>
            </canvas>
        </canvas>
    </body>
</html>
