body {
  font: 10px sans-serif;
}

.pallete {
  float: left;
  width: 400px;
}

.editor {
  float: left;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  width: 1200px;
  height: 800px;
}

.pallete ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

.pallete .group div {
  text-transform: capitalize;
  font: bold 12px sans-serif;
}

.pallete .item {
  display: inline-table;
  background-color: #ddd;
  border-style: dashed;
  border-width: 1px;
  border-color: grey;
  padding: 4px;
  margin: 2px;
}

.pallete #draggable {
  position: absolute;
  display: none;
  opacity: 0.5;
}

.pallete #draggable.active {
  display: block;
}

text.h1 {
  fill: #000;
  font-size: 20px;
}

text.h2 {
  fill: #222;
  font-size: 18px;
}

text.h3 {
  fill: #444;
  font-size: 16px;
}

text.h4 {
  fill: #fff;
  font-size: 14px;
}

text.h5 {
  fill: #eee;
  font-size: 12px;
}

text.h6 {
  fill: #ddd;
  font-size: 10px;
}

.routine rect {
  fill: #357;
  stroke: #333;
}

polygon.block {
  stroke: none;
}

circle.node {
  fill: #777;
  stroke: #333;
  stroke-width: 1px;
}

circle.node.active {
  fill: #bbb;
}

path {
  fill: none;
  stroke-opacity: 50%;
}

path.path {
  stroke: #000;
  stroke-width: 1px;
}

path.link {
  stroke: #333;
  stroke-width: 2px;
}

path.link.active {
  stroke-width: 4px;
  stroke-opacity: 100%;
}
